/* General container styling */
.details-container {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 15px;
  border-radius: 12px;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Button panel styling */
.btn-panel {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.small-btn {
  font-size: 0.8rem; /* Adjust font size for smaller screens */
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 25px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.back-btn {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
}

.add-btn {
  background: linear-gradient(90deg, #ffcc00, #ff9900);
}

.download-btn {
  background: linear-gradient(90deg, #00c853, #00e676);
}

.back-btn {
  background: linear-gradient(90deg, #6a11cb, #2575fc);
  font-size: 0.8rem; /* Adjusted font size */
  font-weight: bold;
  padding: 6px 5px; /* Reduced padding */
  border-radius: 25px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  width: auto; /* Ensure the button width is only as wide as its content */
  transition: all 0.3s ease;
}

.back-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.add-btn:hover,
.download-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* Header styling */
.header {
  text-align: center;
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Responsive table styling */
.table-responsive {
  overflow-x: auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.table th {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 12px; /* Reduced font size */
}

.table td {
  color: white;
  padding: 10px;
  font-size: 12px; /* Reduced font size */
  word-wrap: break-word;
}

.table tbody tr:hover td {
  background: rgba(255, 255, 255, 0.2);
}
