/* ForgetPassword.css */

.forget-password-container {
    height: 100vh;
    background-image: url('/src/Asserts/Login/img-01.png'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
  }
  
  .forget-password-card {
    max-width: 400px;
    background-color: rgba(79, 78, 78, 0.9); /* Slight transparency */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .forget-password-card h2 {
    font-weight: bold;
    color: aliceblue;
  }
  
  .forget-password-card input {
    border-radius: 5px;
  }
  
  .forget-password-card button {
    font-weight: bold;
  }
  