.change-password-background {
    background-image: url('/src/Asserts/Login/img-01.png'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .change-password-container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    color: white;
  }
  
  .change-password-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .change-password-form input {
    text-align: center;
  }
  